In [1]:
#Pandas is usually imported under the pd alias.
#Now the Pandas package can be referred to as pd instead of pandas
import pandas as pd

In [1]:
# read_csv is an important pandas function to read csv files and do operations on it. 
df = pd.read_csv('tweets.csv', nrows=10000)

NameError: name 'pd' is not defined

In [9]:
#DataFrame.shape
# Return a tuple representing the dimensionality of the DataFrame.
df.shape

(10000, 3)

In [12]:
#I use apply and lambda anytime I get stuck while building a complex logic for a new column or filter.
df['tweet_length'] = df['tweet'].apply(lambda x: len(x))

In [14]:
#A Data frame is a two-dimensional data structure
df

,id,label,tweet,tweet_length
0,1,0,@user when a father is dysfunctional and is s...,102
1,2,0,@user @user thanks for #lyft credit i can't us...,122
2,3,0,bihday your majesty,21
3,4,0,#model i love u take with u all the time in ...,86
4,5,0,factsguide: society now #motivation,39
...,...,...,...,...
9995,9996,0,@user my routine is out of whack! evening wal...,120
9996,9997,0,i'm dead but still happy #poledance #madrid ##...,90
9997,9998,0,â #united kingdom claimant count rate up to...,106
9998,9999,0,rip my friend ð¢ð¢ #shocked #dismay #hea...,102
9999,10000,0,"how to open... your , loving hea #thursdayth...",78

In [57]:
sent = 'Hello, welcome to Pune. How is going...?'

In [58]:
import string

In [59]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [60]:
def count_punct(sent):
    count = sum([1 for x in sent if x in string.punctuation])
    p= round(count / (len(sent) - sent.count(' ')) * 100,2 )
    return p

In [61]:
 count_punct(sent)

17.65

In [62]:
df['punch%'] = df['tweet'].apply(lambda x: count_punct(x))

In [63]:
df

,id,label,tweet,tweet_length,punch%
0,1,0,@user when a father is dysfunctional and is s...,102,3.66
1,2,0,@user @user thanks for #lyft credit i can't us...,122,7.92
2,3,0,bihday your majesty,21,0.00
3,4,0,#model i love u take with u all the time in ...,86,5.71
4,5,0,factsguide: society now #motivation,39,6.25
...,...,...,...,...,...
9995,9996,0,@user my routine is out of whack! evening wal...,120,11.22
9996,9997,0,i'm dead but still happy #poledance #madrid ##...,90,11.84
9997,9998,0,â #united kingdom claimant count rate up to...,106,10.47
9998,9999,0,rip my friend ð¢ð¢ #shocked #dismay #hea...,102,7.95
9999,10000,0,"how to open... your , loving hea #thursdayth...",78,10.61

In [64]:
# a word stemmer based on porter stemming algorithm
# it is a process for removing commer morphological and inflexional ending for word in english
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [65]:
s_words = stopwords.words('english')

In [66]:
def clean_text(text):
    data = [x for x in text if x not in string.punctuation]
    data = "".join(data)
    data = [ps.stem(x) for x in data.split()
           if x not in s_words]
    return data

In [67]:
clean_text(sent)

['hello', 'welcom', 'pune', 'how', 'go']

In [68]:
# input data
x = df.drop(['label','id'], axis=1)
# Ouput data
y = df['label']

In [69]:
x

                                                  tweet  tweet_length  punch%
0      @user when a father is dysfunctional and is s...           102    3.66
1     @user @user thanks for #lyft credit i can't us...           122    7.92
2                                   bihday your majesty            21    0.00
3     #model   i love u take with u all the time in ...            86    5.71
4                factsguide: society now    #motivation            39    6.25
...                                                 ...           ...     ...
9995   @user my routine is out of whack! evening wal...           120   11.22
9996  i'm dead but still happy #poledance #madrid ##...            90   11.84
9997   â #united kingdom claimant count rate up to...           106   10.47
9998  rip my friend ð¢ð¢ #shocked   #dismay #hea...           102    7.95
9999  how to open... your  , loving hea  #thursdayth...            78   10.61

[10000 rows x 3 columns]

In [71]:

from sklearn.feature_extraction.text import TfidfVectorizer

In [72]:
tfidf = TfidfVectorizer(analyzer=clean_text)
x_tran = tfidf.fit_transform(x['tweet'])

In [73]:
x_tran.shape

(10000, 18712)

In [77]:
x_vect = pd.concat([x[['tweet_length','punch%']]
                   .reset_index(drop=True),
                   pd.DataFrame(x_tran.toarray())], axis=1)

In [78]:
x_vect

,tweet_length,punch%,0,1,2,3,4,5,6,7,...,18702,18703,18704,18705,18706,18707,18708,18709,18710,18711
0,102,3.66,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,122,7.92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,21,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,86,5.71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,39,6.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,120,11.22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,90,11.84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,106,10.47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,102,7.95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,78,10.61,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
X_train, X_test, y_train, y_test = train_test_split(x_vect ,y, stratify=y, random_state =0 )

In [82]:
from sklearn.linear_model import LogisticRegression

In [83]:
clf = LogisticRegression()

In [84]:
clf.fit(X_train, y_train )

C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [89]:
y_pred = clf.predict(X_test)

C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,